.card_wrap > .container.text-center {
    margin-top: 8% !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
}

.row{
    justify-content: flex-start;
}
.col{
    flex:1 1 1%;
}
